# General
.DS_Store
Thumbs.db
*.log
*.tmp
*.swp
*.bak
*.out

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv
env/
venv/
*.egg-info/

# Jupyter Notebook
.ipynb_checkpoints

# VSCode
.vscode/

# LaTeX
*.aux
*.bbl
*.blg
*.brf
*.fls
*.fdb_latexmk
*.glo
*.gls
*.idx
*.ilg
*.ind
*.lof
*.log
*.lot
*.out
*.toc
*.acn
*.acr
*.alg
*.glg
*.glsdefs
*.ist
*.synctex.gz
*.nav
*.snm
*.vrb
*.xdv
*.pdfsync
*.synctex
*.dvi
*.ps
*.thm
*.upa
*.upb

# LaTeX - subfolders
**/*.aux
**/*.bbl
**/*.blg
**/*.brf
**/*.fls
**/*.fdb_latexmk
**/*.glo
**/*.gls
**/*.idx
**/*.ilg
**/*.ind
**/*.lof
**/*.log
**/*.lot
**/*.out
**/*.toc
**/*.acn
**/*.acr
**/*.alg
**/*.glg
**/*.glsdefs
**/*.ist
**/*.synctex.gz
**/*.nav
**/*.snm
**/*.vrb
**/*.xdv
**/*.pdfsync
**/*.synctex
**/*.dvi
**/*.ps
**/*.thm
**/*.upa
**/*.upb

# CS229 related
**/submission.zip